body{
  font-size: 22px;
  background-color: #34304A;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Inter, Arial, sans-serif;
              color: white;
}



input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* ===== TABS CON RADIO BUTTONS ===== */

.tabs {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0 0.5rem;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* Ocultamos los radio buttons */
.tabs input[type="radio"] {
  display: none;
}

/* Labels (las pestañas) */
.tab-labels {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0;
  box-sizing: border-box;
  flex: 1;
  margin-bottom: 1vh;
}

.tab-labels label {
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  background: #282539;
  color: #ffffff;
  border-radius: 8px 8px 8px 8px;
  transition: background 0.2s, color 0.2s;
}

/* Hover */
.tab-labels label:hover {
  background: #e6e6e6;
}

/* Tab activa */
#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"],
#tab3:checked ~ .tab-labels label[for="tab3"],
#tab4:checked ~ .tab-labels label[for="tab4"],
#tab5:checked ~ .tab-labels label[for="tab5"],
#tab6:checked ~ .tab-labels label[for="tab6"],
#tab7:checked ~ .tab-labels label[for="tab7"] {
  background: #ffffff;
  color: #111;
  font-weight: 600;
}

/* Contenedor de contenidos */
.tab-content {
  background-color: #282539;
  border-top: none;
  padding: 1rem;
  border-radius: 12px 12px 12px 12px;
}

/* Todos los contenidos ocultos por defecto */
.content {
  display: none;
}

/* Mostrar contenido según tab activa */
#tab1:checked ~ .tab-content .c1 {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

#tab2:checked ~ .tab-content .c2 {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

#tab3:checked ~ .tab-content .c3 {
  display: block;
}

#tab4:checked ~ .tab-content .c4 {
  display: block;
}

#tab5:checked ~ .tab-content .c5 {
  display: block;
}

#tab6:checked ~ .tab-content .c6 {
  display: block;
}

#tab7:checked ~ .tab-content .c7 {
  display: block;
}

.box {
  background-color: #282539;
  border-top: none;
  padding: 1rem;
  border-radius: 12px 12px 12px 12px;
  
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}